body {
    font-size: 14px;
    font-family: 'Open Sans', Arial, Geneva, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
textarea {
    resize: none;
}

#main {
    position: relative;
    overflow: hidden;
}

.chip {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #000;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: #FFF;
    z-index: 1000;
}

.chip .sub {
    font-size: 35px;
    width: 80px;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.chip.zero {
    border: 0;
    background: #FFF;
    cursor: default;
    z-index: 100;
}

.chip.zero .sub {
    display: none;
}

.field {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 1px solid #000;
    border-radius: 10px;
}

.win {
    position: absolute;
    border: 1px solid #000;
    border-radius: 10px;
    background: #FFF;
    z-index: 1100;
    padding: 20px;
    font-size: 16px;
    display: none;
}